#jira-div {
    min-height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    float: right;
    z-index: 1000;
}

.jira-btn {
    font-size: 1rem;
    padding: 4px 10px;
}

.add-margin {
    margin-right: 80px !important;
}

.small-margin > a {
    margin-right: 5px !important;
}

.red-text {
   color: red;
}
