
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversion Report</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <link href="/static/bootstrap-3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/js/jquery-ui-1.11.4/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/fontawesome-free-5.8.2-web/css/all.css" rel="stylesheet">
    <link href="/static/fontawesome-free-5.8.2-web/css/v4-shims.css" rel="stylesheet">
    <link href="/static/css/tsugi2.css" rel="stylesheet">
    
    <link href="static/css/report.min.css" rel="stylesheet" />
</head>
<body class="empty">
    <div class="alert alert-danger" role="alert">
      <i class="fas fa-exclamation"></i> No Conversion Report
    </div>
</body>