<table class='table flex-wrap' id='singlesites_tbl'>
    <tbody>
    {% foreach($single_sites_by_state as $row): %}
        <tr>
            <td><span>{% print($row['started_at']); %}</span></td>
            {% if($row['state'] == "completed") { %}
                <td colspan="2"><span class="label alert-success"><strong>State: </strong>{% print($row["state"]); %}</span></td>
            {% } else if($row['state'] == "init" || $row['state'] == "starting" || $row['state'] == "running" || $row['state'] == "importing" || $row['state'] == "exporting") { %}
                <td colspan="2"><span class="label alert-info"><strong>State: </strong>{% print($row["state"]); %}</span></td>
            {% } else if($row['state'] == "updating") { %}
                <td colspan="2"><span class="label alert-info"><strong>State: </strong>{% print($row["state"]); %}</span></td>
            {% } else if($row['state'] == "error") { %}
                <td colspan="2"><span class="label alert-danger"><strong>State: </strong> {% print($row["state"]); %}</span></td>
            {% } %}

            <td colspan="2"><a href="https://efundi.nwu.ac.za/portal/site/{% print($row['site_id']); %}" target="_blank" title="Open eFundi site">{% print($row['title']); %}</a></td>

            {% if($row["imported_site_id"] > 0) { %}
                <td colspan="2"><a href="https://brightspace.nwu.ac.za/d2l/home/{% print($row['imported_site_id']); %}" target="_blank" class="img" title="View Brightspace site">
                                <img src="./static/img/brightspace_woodmark.svg" class="img-fluid"/>
                                </a>
                </td>
            {% } else { %}
                <td colspan="2">&nbsp;</td>
            {% } %}

            {% if($row["imported_site_id"] > 0 && ($row['report_url'] != '' || $row["report_url"] != NULL)) { %}
                <td colspan="2"><a href="https://brightspace.nwu.ac.za/d2l/le/conversion/import/{% print($row['imported_site_id']); %}/history/display?ou={% print($row['imported_site_id']); %}" target="_blank" class="img" title="View import log">
                    <i class="fa fa-history fa-2x" aria-hidden="true"></i>
                    </a>
                </td>
            {% } else { %}
                <td colspan="2">&nbsp;</td>
            {% } %}

            {% if($row["report_url"] != '' || $row["report_url"] != NULL) { %}
                <td colspan="2"><i class="fas fa-file-alt fa-2x text-primary show_report" data-="modal" rel="{% print($row['report_url']); %}" title="View conversion report" data-target="#reportModal" id="{% print($row['site_id']); %}"></i></td>
            {% } else { %}
                <td colspan="2">&nbsp;</td>
            {% } %}

            {% if($row["state"] == 'error') { %}
                <td colspan="2"><a href="{{ $jira_url }}{{ $row['site_id'] }}%22" target="_blank" class="img" title="View JIRA">
                    <img src="./static/img/jira.svg" class="img-fluid"/>
                    </a>
                </td>
            {% } else { %}
                <td colspan="2">&nbsp;</td>
            {% } %}
            </tr>
            {% endforeach; %}
    </tbody>
</table>
